# API Base URL (backend)
VITE_API_URL=http://localhost:5000/api/
# VITE_API_URL=https://vesdm-backend-05xm.onrender.com/api/

# Uploads base URL (for certificates, resources, etc.)
VITE_UPLOADS_URL=http://localhost:5000/uploads
